div.a {
    border: 1px solid gray;
    padding: 8px;
    text-align: center;
    
}

h1.b {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
    
}

p {
    text-indent: 50px;
    text-align: center;
    letter-spacing: 3px;
}
